// Variables

// Paleta de color
$primary-color: hsl(205,100,65);
$secondary-color: hsl(0,10,10);

// Tamaños de fuentes
$t1: 3em;
$t2: 2.25em;
$t3: 1.75em;
$t4: 1.125em;
$m: 1em;
$s: 0.9em;
$xs: 0.8em;

// Variables de layout
$gutter: 16px;
$max-width: 1100px;

// z-index layers
$z-normal: 1;
$z-widget: 100;
$z-modal: 1000;


@import "base/normalize";
@import "layout/layout";
@import "theme/header";
@import "modules/modules";
@import "base/base";
@import "theme/menu";
@import "theme/banner";
@import "theme/features";
@import "theme/data";
@import "theme/gallery";
@import "theme/footer";

