.main-banner {
  position : relative;
  background: url(../img/banner.jpg) center / cover no-repeat;
  
  &::before {
    content: '';
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background : linear-gradient(
                    -45deg,
                    darken($primary-color,40),
                    $secondary-color
    );
    opacity : .8;
  }

  &__data-container {
    padding-top : 10em;
    padding-bottom : 10em;
  }

  &__data {
    display : flex;
    flex-wrap: wrap;
    width : 65%;
    position : relative;

    @media screen and (min-width: 480px) {
      width : 40%;
    }

    @media screen and (min-width: 640px) {
      width : 30%;
    }

    @media screen and (min-width: 768px) {
      width : 50%;
    }

    @media screen and (max-width: 768px) {
      top : 50%;
      left : 50%;
      transform: translate(-50%,-50%);
      justify-content: space-around;
    }
  }

  &__title {
    text-align : center;
    color: $primary-color;
    width : 100%;
    margin : 0 0 .5em;

    @media screen and (min-width: 768px) {
      text-align : left;
      font-size : $t1;
      margin : 0;
    }
  }

  &__subtitle,
  &__description {
    color: #fff;
    @media screen and (max-width: 768px) {
      display : none;
    }
  }

  &__subtitle {
    font-size : 1.4em;
    margin : 0;
    
    &:after {
      content: '';
      display : block;
      width :20%;
      height : 2px;
      background : $primary-color;
    }
  }

  &__description {
    font-size : $s;
    line-height : 1.6;
  }

  .button {
    @media screen and (min-width: 768px) {
      margin-right : 1em;
    }
  }
}
