.main-header {
  padding-top: $gutter * 1.5;
  padding-bottom:  $gutter * 0.5;
}

.logo {
  display : block;
  margin-left : auto;
  margin-right : auto;
  width : 40%;

  @media screen and (min-width: 640px) {
    width : 100%;
  }

  @media screen and (min-width: 1024px) {
    width : 60%;
    margin-left : 0;
  }
}
