.main-nav {
  background : $primary-color;

  @media screen and (max-width: 1024px) {
    max-height : 0;
    transition: max-height .3s;

    &.show {
      max-height : 10000px;
    }
  }

  @media screen and (min-width: 1024px) {
    display : flex;
    justify-content: space-between;
    position : relative;
    top: 1.5rem;
    z-index : $z-widget;
  }

}

.main-menu {
  list-style: none;
  padding-left : 0;
  margin-top : 0;
  margin-bottom : 0;

  @media screen and (min-width: 1024px) {
    display : flex;
  }

  &__item {
    border-bottom : 1px solid rgba(#fff,.3);

    @media screen and (min-width: 1024px) {
      border-bottom :none;
    }
  }

  &__link {
    display : block;
    line-height : 3rem;
    padding : 0 1em;
    text-decoration : none;
    color: #fff;
  }
}

.toggle-menu {
  color: $primary-color;
  display : table;
  font-size : 1.6em;
  margin-left : auto;
  margin-right : auto;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    display : none;
  }
}
