.section-gallery {

}

.gallery-container {
  @media screen and (min-width: 640px) {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
  }
}

.gallery-item {
  margin-bottom : 1em;

  @media screen and (min-width: 640px) {
    width : 49%;

    &:last-child {
      width : 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    width : 100%;
    margin-bottom : 0;

    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }
}

.gallery__img {
  display : block;
  width : 100%;
  height : 100%;

  @media screen and (min-width: 1024px) {
    object-fit: cover;
  }
}
