.contact-widget {
  display     : flex;
  align-items : center;

  &__icon {
    width       : 2em;
    height      : 2em;
    background  : $secondary-color;
    color       : #FFF;
    text-align  : center;
    font-size   : $m;
    margin-left : .5em;

    &.button {
      line-height : 2.3;
    }
  }

  &__data {
    margin-left : .5em;
  }

  &__title {
    margin    : 0;
    font-size : $m;
  }

  &__content {
    margin    : 0;
    font-size : $s;
  }
}

.button {
  text-decoration : none;
  line-height     : 2.7;
  display         : inline-block;
  padding         : 0 1em;

  &--dark {
    background : $secondary-color;
    color      : #FFF;
  }

  &--light {
    background : #FFF;
    color      : $primary-color;
  }

  &--cta {
    background : $primary-color;
    color      : #FFF;
  }

  &--square {
    padding : 0;
  }
}

.social-networks {
  padding-left : $gutter;
  padding-right : $gutter;
  a {
    text-decoration : none;
    color           : #FFF;
    display         : inline-block;
    line-height     : 3;
    margin-right    : .5em;
  }
}


// Secciones

.section {
  padding-top : 2em;
  padding-bottom : 2em;

  &__title,
  &__subtitle {
    text-align : center;

    span {
      color: $primary-color;
    }
  }
}
